@model Models.Base.AuthorModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <td>
        <form method="post">
            <button asp-action="Delete" asp-route-id="@Model.Id">
                Delete
            </button>
        </form>
    </td>
</head>
<body>
<h3>Author Info</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td></td>
        </tr>
        <tr>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
        </tr>
    </table>
</body>
</html>
